@ioasys:registry=https://pkgs.dev.azure.com/ioasys/f6f23d61-c5b3-4127-a848-1e1b7341fdf8/_packaging/ioasys-ui/npm/registry/
; begin auth token
//pkgs.dev.azure.com/ioasys/f6f23d61-c5b3-4127-a848-1e1b7341fdf8/_packaging/ioasys-ui/npm/registry/:username=ioasys
//pkgs.dev.azure.com/ioasys/f6f23d61-c5b3-4127-a848-1e1b7341fdf8/_packaging/ioasys-ui/npm/registry/:_password=${IOASYS_NPM_TOKEN}
//pkgs.dev.azure.com/ioasys/f6f23d61-c5b3-4127-a848-1e1b7341fdf8/_packaging/ioasys-ui/npm/:username=ioasys
//pkgs.dev.azure.com/ioasys/f6f23d61-c5b3-4127-a848-1e1b7341fdf8/_packaging/ioasys-ui/npm/:_password=${IOASYS_NPM_TOKEN}
; end auth token