/* Dorion Design Tokens (Beta) */
/* Figma Styles: ion Tail - Conservare :: CSS */
/* 2025-10-09 - 11:48 */

@theme {
  --font-primary: 'Inter';
  --font-secondary: 'Inter';

  --font-sans: var(--font-primary);
}

.display-normal-large {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-7xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.display-normal-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-6xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.display-normal-small {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-5xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.display-thin-large {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-7xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.display-thin-medium {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-6xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.display-thin-small {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-5xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.title-normal-large {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-4xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.title-normal-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-3xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.title-normal-small {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-lg);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.title-thin-large {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-4xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.title-thin-medium {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-3xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.title-thin-small {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-2xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.subtitle-normal-large {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-2xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.subtitle-normal-medium {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.subtitle-normal-small {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-lg);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.subtitle-thin-large {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-2xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.subtitle-thin-medium {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-xl);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.subtitle-thin-small {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--text-lg);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.body-large {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--text-lg);
  font-style: normal;
  line-height: 150%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.body-medium {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--text-base);
  font-style: normal;
  line-height: 150%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.body-small {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--text-sm);
  font-style: normal;
  line-height: 150%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-normal-large {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-lg);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-normal-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-base);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-normal-small {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-sm);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-normal-nano {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--text-xs);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-thin-small {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-sm);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-thin-medium {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-base);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-thin-large {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-lg);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}

.label-thin-nano {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--text-xs);
  font-style: normal;
  line-height: 100%;
  letter-spacing: var(--tracking-normal);
  margin-bottom: 0rem;
  text-indent: 0rem;
}
